@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #1d1e23;
}
h1 {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
}
h1 span {
  color: aqua;
  position: relative;
}
h1 span::before {
  content: "";
  right: -4px;
  top: 50%;
  position: absolute;
  height: 30px;
  width: 2px;
  background: aqua;
  transform: translateY(-45%);
  animation: blink 0.7s infinite;
}
h1 span.stop_blinking::before {
  animation: none;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
