@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aqua;
  color: black;
}
.grid {
  width: 313px;
  height: 313px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin: 2%;
}
.square {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  margin: 2px;
}
.mole {
  background: url("img/mole.gif");
  background-size: cover;
  transition: 0.2s ease;
}
button {
  padding: 10px;
  color: white;
  background-color: blueviolet;
  margin: 10px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
}
